#demo {
	font-size: 0.875rem;
	max-width: 768px;
	padding: 24px;
}

#demo h1,
#demo h2,
#demo h3 {
	margin-top: 2.25rem;
	margin-bottom: 1.25rem;
}

#demo #icon-demos {
	background: rgba(255,255,255,0.5);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
	display: flex;
		flex-wrap: wrap;
	font-size: 0;
	margin: 0 0 1.25rem;
	max-width: calc( 36px * 4 );
	padding: 0;
}

#demo #icon-demos li {
	display: flex;
		align-items: center;
		justify-content: center;
	list-style: none;
	margin: 0;
	padding: 6px;
	vertical-align: top;
	width: 24px; height: 24px;
}

#demo #loading-demos {
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
	font-size: 0;
	margin: 0 0 1.25rem;
	max-width: calc( 72px * 4 );
	padding: 0;
}

#demo #loading-demos li {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0 12px;
	vertical-align: top;
}

#demo li[title] {
	cursor: help;
}

#demo pre {
	margin-bottom: 1.25rem;
}

#demo button {
	display: inline-block;
	margin-right: 0.625rem;
}