button, .button, .btn, 
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #33aaff;
	color: #ffffff;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-size: 0.75rem;
	line-height: 1.25rem;
	margin: 0;
	padding-left : 0.625rem;
	padding-right: 0.625rem;
	text-align: center;
	vertical-align: baseline;
	width: auto;
}

button:hover, .button:hover, .btn:hover, 
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background-color: #0288d1;
}

.fat {
	line-height: 2rem;
}

form {
	display: block;
	margin: 0;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

legend {
	padding: 0;
}

label {
	display: inline-block;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 2rem;
	margin: 0 0.375rem 0 0;
	padding: 0;
	vertical-align: top;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
select,
textarea
{
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	color: #333333;
	display: inline-block;
	font-family: Arial;
	font-size: 0.875rem;
	letter-spacing: 0.025em;
	line-height: calc( 2rem - 2px );
	margin-bottom: 1.25rem;
	outline: 0;
	padding: 0 0.625rem;
	transition: 0.2s border ease-in-out;
	vertical-align: top;
	width: 384px; max-width: 100%;
}

select {
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	color: #333333;
	display: block;
	height: 2rem;
	line-height: 1rem;
	padding: initial;
}

select[multiple] {
	height: auto;
	padding: 0.28125rem 0;
}

select[multiple] option {
	padding: 0.28125rem 0.625rem;
}

textarea {
	line-height: 1.25rem;
	padding: 0.5625rem 0.625rem;
	width: 768px;
}

input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input:not([type]):focus,
select:focus,
textarea:focus {
	border-color: #33aaff;
	outline: 0;
}

input[readonly],
select[readonly],
textarea[readonly]
{
	background-color: #eeeeee;
	border-color: #e0e0e0;
	color: #757575;
}

input[disabled],
select[disabled],
textarea[disabled] {
	background-color: #e0e0e0;
	border-color: #bdbdbd;
	color: #9e9e9e;
	cursor: not-allowed;
}	

input[type="file"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus
{
	outline: thin solid #33aaff;
	outline: 1px auto #33aaff;
}

input:focus:invalid,
select:focus:invalid,
textarea:focus:invalid
{
	border-color: #e9322d;
	color: #b94a48;
}

input[type="file"]:focus:invalid:focus,
input[type="checkbox"]:focus:invalid:focus,
input[type="radio"]:focus:invalid:focus
{
	outline-color: #e9322d;
}

input[type="hidden"] {
	display: none;
}

input[type="checkbox"],
input[type="radio"]
{
	display: inline-block;
	line-height: 1;
	margin-right: 0.375rem;
	vertical-align: middle;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	display: inline-block;
	cursor: pointer;
	line-height: 1;
	user-select: none;
	vertical-align: middle;
}

/* Other Types 

input[type="checkbox"]
input[type="file"]
input[type="image"]
input[type="radio"]
input[type="range"]
/**/
