.overflow-hidden {
  overflow: hidden !important;
}

#modal-container {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

#modal-container * {
  box-sizing: border-box;
}

#modal-background {
  background-color: rgba(0,0,0,0.5);
}

#modal-background,
#modal-inner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#modal-inner {
  font-size: 0;
  overflow: auto;
  text-align: center;
}

#modal-inner::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

#modal-exit {
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
}

#modal-exit.closeOnOutsideClick {
  cursor: pointer;
}

#modal-card {
  background: #FFF;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  font-size: 0.875rem;
  margin: 24px;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

@media screen and ( max-width: 640px ) {
  #modal-card {
    margin: 4px;
    padding: 44px 44px 44px 22px;
  }
}

#modal-button--close {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 0;
  line-height: 1;
  outline: none;
  margin: 0;
  padding: 16px;
  position: absolute; top: 0; right: 0;
}
